{% extends "base/page.html" %}

{% block content %}

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

<form action="{{ url_for('manageCompany') }}" name="manageCompanyForm" method="post">

<div class="row">
	<div class="col-md-6">
		<h1> Manage Company </h1>
    <label for="companyNameFilter">Name</label>
    <select name="companyNameFilter">
      <option value="All"> --All-- </option>
      {% for company in companyNames %}
      <option value="{{ company.comname }}"> {{ company.comname }} </option>
      {% endfor %}
    </select>
	</div>

  <div class="col-md-6">
    <h1> Filters </h1>
    <label for="status"># City Covered</label>
    <input type="number" name="CityCoveredMin" id="CityCoveredMin" class="form-control" size="5" placeholder="Min" />
    <input type="number" name="CityCoveredMax" id="CityCoveredMax" class="form-control" size="5" placeholder="Max" />
  </div>

  <div class="col-md-6">
    <label for="status"># Theaters</label>
    <input type="number" name="NumTheatersMin" id="NumTheatersMin" class="form-control" size="5" placeholder="Min" />
    <input type="number" name="NumTheatersMax" id="NumTheatersMax" class="form-control" size="5" placeholder="Max" />
  </div>

  <div class="col-md-6">
    <label for="status"># Employees</label>
    <input type="number" name="NumEmployeesMin" id="NumEmployeesMin" class="form-control" size="5" placeholder="Min" />
    <input type="number" name="NumEmployeesMax" id="NumEmployeesMax" class="form-control" size="5" placeholder="Max" />
  </div>
</div>

<br>

<div class="row">
	<div class="col-md-7">
        <div class="form-group">
	        <input class="btn btn-primary" name="filterButton" type="submit" value="Filter"/>
    	</div>
    </div>

    <div class="col-md-0">
        <div class="form-group">
	        <input class="btn btn-primary" name="createTheaterButton" type="submit" value="Create Theater"/>
    	</div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
	        <input class="btn btn-primary" name="companyDetailButton" type="submit" value="Detail"/>
    	</div>
    </div>
</div>

<div class="row">
	<table class="table" id="myTable">
	    <thead>
	        <tr>
	            <th onclick="sortTable(0)">Name</th>
	            <th onclick="sortTable(1)">#City Covered</th>
	            <th onclick="sortTable(2)">#Theaters</th>
	            <th onclick="sortTable(3)">#Employee</th>
	        </tr>
	    </thead>
	    <tbody>
	    	{% for company in companyData %}
	        <tr>
	            <td><input type="radio" name="companyChoice" value="{{ company.name }}"> {{ company.name }} </td>
	            <td>{{ company.numCities }}</td>
	            <td>{{ company.numTheaters }}</td>
	            <td>{{ company.numEmployees }}</td>
	        </tr>
	        {% endfor %}
	    </tbody>
	</table>
</div>
</form>


{% endblock %}
